<%- include('./cabecera')-%>
<body>
    <div class="container text-center my-3">
        <div class="jumbotron" style="background-color: salmon; color: white">
            <h1>Usuario No Registrado</h1>
            <h2>o Password incorrecta!</h2>

            <button class="btn btn-warning my-5" onclick="location.href='/'">
                VOLVER
            </button>
        </div>
    </div>
</body>