<form class="container mt-5">
    <div class="form-group">
        <input
            id="email"
            class="form-control"
            type="text"
            name="email"
            placeholder="Tu correo"
        />
    </div>

    <div class="form-group">
        <input
            id="nombre"
            class="form-control"
            type="text"
            name="nombre"
            placeholder="Tu nombre"
        />
    </div>

    <div class="form-group">
        <input
            id="apellido"
            class="form-control"
            type="text"
            name="apellido"
            placeholder="Tu apellido"
        />
    </div>

    <div class="form-group">
        <input
            id="edad"
            class="form-control"
            type="number"
            name="edad"
            placeholder="Tu edad"
        />
    </div>

    <div class="form-group">
        <input
            id="alias"
            class="form-control"
            type="text"
            name="alias"
            placeholder="Tu alias"
        />
    </div>

    <div class="form-group">
        <input
            id="avatar"
            class="form-control"
            type="text"
            name="avatar"
            placeholder="Tu avatar"
        />
    </div>

    <div class="form-group">
        <input
            id="texto"
            class="form-control"
            type="text"
            name="texto"
            placeholder="Cuentanos algo..."
        />
    </div>

    <button onclick="return addMessage()" class="btn btn-success mt-3 mb-4">
        Enviar Menaje
    </button>
</form>