<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>WebSocket</title>
        <script src="https://cdn.jsdelivr.net/npm/normalizr@3.6.1/dist/normalizr.browser.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
        />
    </head>
    <body>
        <div class="container mt-3">
            <div class="estilo d-flex flex-column justify-content-between p-3">
                <h3 style="text-align: center">
                    <i>Números randoms en objeto</i>
                    <button
                        class="btn btn-primary"
                        onclick="location.href='/datos'"
                    >
                        Volver a home
                    </button>
                </h3>
                <div
                    class="d-flex flex-column justify-content-center align-items-center"
                >
                    <h4>Objeto:</h4>
                    <p><%-numeros-%></p>
                </div>
            </div>
        </div>
    </body>
</html>