<%- include('./cabecera')-%>
<body>
    <div class="container my-5">
        <div class="jumbotron">
            <h1>REGISTRARSE</h1>
            <br />
            <form
                class="form"
                action="/register"
                method="post"
                role="form"
               
                enctype="multipart/form-data"
            >
                <label for="username">Nombre</label>
                <div class="form-group">
                    <input
                        id="username"
                        name="username"
                        placeholder="nombre"
                        class="form-control"
                        type="text"
                        required
                    />
                </div>
                <label for="password">Password</label>
                <div class="form-group">
                    <input
                        id="password"
                        name="password"
                        placeholder="password"
                        class="form-control"
                        type="password"
                        required
                    />
                </div>
                <label for="direccion">Direccion</label>
                <div class="form-group">
                    <input
                        id="direccion"
                        name="direccion"
                        placeholder="direccion"
                        class="form-control"
                        type="text"
                        required
                    />
                </div>
                <label for="codigo">Prefijo + Código de area y teléfono</label>
                <div class="form-group d-flex">
                    <select
                        id="codigo"
                        name="codigo"
                        class="form-control col-2"
                        required
                    >
                        <option value="54">+54 Argentina</option>
                        <option value="55">+55 Brasil</option>
                        <option value="56">+56 Chile</option>
                        <option value="57">+57 Colombia</option>
                        <option value="58">+58 Venezuela</option>
                    </select>

                    <input
                        id="telefono"
                        name="telefono"
                        placeholder="codigo de área + telefono"
                        class="form-control"
                        type="text"
                        required
                    />
                </div>
                <label for="email">Email</label>
                <div class="form-group">
                    <input
                        id="email"
                        name="email"
                        placeholder="email"
                        class="form-control"
                        type="email"
                        required
                    />
                </div>
                <label for="edad">Edad</label>
                <div class="form-group">
                    <input
                        id="edad"
                        name="edad"
                        placeholder="fecha de nacimiento"
                        class="form-control"
                        type="number"
                        required
                    />
                </div>
                <label for="avatar">Avatar</label>
                <div class="form-group">
                    <!-- subir archivo de avatar -->
                    <input
                        id="avatar"
                        name="avatar"
                        placeholder="avatar"
                        class="form-control"
                        type="file"
                        required
                    />
                </div>

                <div class="form-group">
                    <input
                        class="btn btn-success my-3"
                        type="submit"
                        value="REGISTRARSE"
                    />
                </div>
            </form>

            <hr />

            <div class="text-left">
                <button
                    class="btn btn-success my-3"
                    onclick="location.href='/login'"
                >
                    Ir a Login
                </button>
            </div>
        </div>
    </div>
</body>